In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('Data.csv')
df.drop('Crawl Timestamp', axis=1, inplace=True)
df.drop('Uniq Id', axis=1, inplace=True) 

df.dropna(how='any',inplace=True)

In [3]:
for i in range(len(df)):
    if (type(df.iloc[i]['Key Skills']) is str):
        df.iloc[i]['Key Skills'] = df.iloc[i]['Key Skills'].split('|')
    if (type(df.iloc[i]['Location']) is str):
        locationToAdd = df.iloc[i]['Location'].split(',')
        for j in range (len(locationToAdd)):
            if (len(locationToAdd[j]) != 0):
                if (locationToAdd[j][0] == ' '):
                    locationToAdd[j] = locationToAdd[j][1:]
            locationToAdd[j] = locationToAdd[j].capitalize()
        df.iloc[i]['Location'] = locationToAdd
    if (type(df.iloc[i]['Functional Area']) is str):
        df.iloc[i]['Functional Area'] = df.iloc[i]['Functional Area'].split(',')
    if (type(df.iloc[i]['Industry']) is str):
        df.iloc[i]['Industry'] = df.iloc[i]['Industry'].split(',')
    if (type(df.iloc[i]['Role Category']) is str):
        df.iloc[i]['Role Category'] = df.iloc[i]['Role Category'].split('/') 
    if (type(df.iloc[i]['Role']) is str and len(df.iloc[i]['Role']) > 100) :
        df.iloc[i]['Role'] = 'N/A'
    df.iloc[i]['Role'] = df.iloc[i]['Role'].replace('/', ',')
    if not ("0 -" in df.iloc[i]['Job Experience Required'] and "10 -" not in df.iloc[i]['Job Experience Required'] and "20 -" not in df.iloc[i]['Job Experience Required']):
        df.iloc[i]['Job Experience Required'] = np.nan
df.dropna(how='any',inplace=True)

In [4]:
df.drop('Job Experience Required', axis=1, inplace=True)

In [5]:
df.reset_index(drop=True, inplace=True)

In [6]:
df.head(5)

,Job Title,Job Salary,Key Skills,Role Category,Location,Functional Area,Industry,Role
0,Trainee Research/ Research Executive- Hi- Tec...,Not Disclosed by Recruiter,"[ Computer science, Fabrication, Quality che...",[R&D],[Gurgaon],"[Engineering Design , R&D]","[Recruitment, Staffing]",R&D Executive
1,Technical Support,"2,00,000 - 4,00,000 PA.",[ Technical Support],"[Admin, Maintenance, Security, Datawarehousing]",[Mumbai],"[IT Software - Application Programming , Main...","[IT-Software, Software Services]",Technical Support Engineer
2,Sales- Fresher-for Leading Property Consultant,"2,00,000 - 3,00,000 PA.","[ channel partners, real estate, negotiation...",[Retail Sales],[Bengaluru],"[Sales , Retail , Business Development]","[Real Estate, Property]","Sales Executive,Officer"
3,Looking For Trained Freshers in MS Dynamics C...,Not Disclosed by Recruiter,"[ C#, MS Dynamics CRM, Microsoft Dynamics, ...",[Programming & Design],[Hyderabad],"[IT Software - Application Programming , Main...","[IT-Software, Software Services]",Software Developer
4,Business Development / Corporate Sales,"2,50,000 - 4,50,000 PA.","[ lead generation, business development, cor...",[Retail Sales],[Delhi ncr],"[Sales , Retail , Business Development]","[IT-Software, Software Services]","Sales,Business Development Manager"

In [7]:
cities = []
for i in range (len(df)):
    for j in range (len(df.iloc[i]['Location'])):
        cities.append(df.iloc[i]['Location'][j])
cities.sort()
cities = list( dict.fromkeys(cities) )

In [8]:
len(cities)

442

In [9]:
jobsInCity = []
city = "Noida"
for i in range (len(df)):
    if city in df.iloc[i]['Location']:
        jobsInCity.append(df.iloc[i]) 
#jobsInCity is a list of all the jobs in the city

In [10]:
rolesInCity = {}
for i in range (len(jobsInCity)):
    if (jobsInCity[i]['Role'] in rolesInCity):
        rolesInCity[jobsInCity[i]['Role']] += 1
    else:
        rolesInCity[jobsInCity[i]['Role']] = 1
#rolesInCity is a list of all the roles in the chosen city

In [11]:
role = "Software Developer"
jobs = []
for i in range (len(jobsInCity)):
    if role in jobsInCity[i]['Role']:
        jobs.append(jobsInCity[i])
# jobs is all the jobs of the chosen role in the chosen city

In [12]:
len(jobs)

22

In [13]:
df.head(5)

,Job Title,Job Salary,Key Skills,Role Category,Location,Functional Area,Industry,Role
0,Trainee Research/ Research Executive- Hi- Tec...,Not Disclosed by Recruiter,"[ Computer science, Fabrication, Quality che...",[R&D],[Gurgaon],"[Engineering Design , R&D]","[Recruitment, Staffing]",R&D Executive
1,Technical Support,"2,00,000 - 4,00,000 PA.",[ Technical Support],"[Admin, Maintenance, Security, Datawarehousing]",[Mumbai],"[IT Software - Application Programming , Main...","[IT-Software, Software Services]",Technical Support Engineer
2,Sales- Fresher-for Leading Property Consultant,"2,00,000 - 3,00,000 PA.","[ channel partners, real estate, negotiation...",[Retail Sales],[Bengaluru],"[Sales , Retail , Business Development]","[Real Estate, Property]","Sales Executive,Officer"
3,Looking For Trained Freshers in MS Dynamics C...,Not Disclosed by Recruiter,"[ C#, MS Dynamics CRM, Microsoft Dynamics, ...",[Programming & Design],[Hyderabad],"[IT Software - Application Programming , Main...","[IT-Software, Software Services]",Software Developer
4,Business Development / Corporate Sales,"2,50,000 - 4,50,000 PA.","[ lead generation, business development, cor...",[Retail Sales],[Delhi ncr],"[Sales , Retail , Business Development]","[IT-Software, Software Services]","Sales,Business Development Manager"

# Cleaning Salary

In [14]:
updated = pd.read_csv('FilteredData.csv')

In [15]:
def hasNumbers(inputString):
    return any(char.isdigit() for char in inputString)

for i in range (len(df)):
    salary = df.iloc[i]['Job Salary']
    salary = salary.replace('INR ','')
    salary = salary.replace(',','')
    salary = salary.replace(' PA.','')
    salary = salary.replace('.','')
    salary = salary.replace(' ','')
    salary = ''.join(filter(lambda x: x.isdigit() or x == '-', salary))
    currentSalaries = []
    count = 0
    if hasNumbers(salary) and '000' in salary:
        salary = salary.split('-')
        for j in range (len(salary)):
            if len(salary[j]) > 2:
                currentSalaries.append(salary[j])
                count += int(salary[j])
        salary = count / len(currentSalaries)
    else:
        salary = 0
    df.iloc[i]['Job Salary'] = salary

In [16]:
df.to_csv('FilteredData.csv')