In [37]:
import pandas as pd
import numpy as np

In [38]:
df = pd.read_csv('Data.csv')
df.drop('Crawl Timestamp', axis=1, inplace=True)
df.drop('Uniq Id', axis=1, inplace=True) 

df.dropna(how='any',inplace=True)

In [39]:
for i in range(len(df)):
    if (type(df.iloc[i]['Key Skills']) is str):
        df.iloc[i]['Key Skills'] = df.iloc[i]['Key Skills'].split('|')
    if (type(df.iloc[i]['Location']) is str):
        df.iloc[i]['Location'] = df.iloc[i]['Location'].split(',')
        #for j in range (len(df.iloc[i]['Location'])):
            #if (df.iloc[i]['Location'][j][0] == ' '):
                #df.iloc[i]['Location'][j] = df.iloc[i]['Location'][j][1:]
            #df.iloc[i]['Location'][j] = df.iloc[i]['Location'][j].capitalize()
    if (type(df.iloc[i]['Functional Area']) is str):
        df.iloc[i]['Functional Area'] = df.iloc[i]['Functional Area'].split(',')
    if (type(df.iloc[i]['Industry']) is str):
        df.iloc[i]['Industry'] = df.iloc[i]['Industry'].split(',')
    if (type(df.iloc[i]['Role Category']) is str):
        df.iloc[i]['Role Category'] = df.iloc[i]['Role Category'].split('/') 
    if (type(df.iloc[i]['Role']) is str and len(df.iloc[i]['Role']) > 100) :
        df.iloc[i]['Role'] = 'N/A'
    if not ("0 -" in df.iloc[i]['Job Experience Required'] and "10 -" not in df.iloc[i]['Job Experience Required'] and "20 -" not in df.iloc[i]['Job Experience Required']):
        df.iloc[i]['Job Experience Required'] = np.nan
df.dropna(how='any',inplace=True)
df.head(3)

,Job Title,Job Salary,Job Experience Required,Key Skills,Role Category,Location,Functional Area,Industry,Role
2,Trainee Research/ Research Executive- Hi- Tec...,Not Disclosed by Recruiter,0 - 1 yrs,"[ Computer science, Fabrication, Quality che...",[R&D],[Gurgaon],"[Engineering Design , R&D]","[Recruitment, Staffing]",R&D Executive
3,Technical Support,"2,00,000 - 4,00,000 PA.",0 - 5 yrs,[ Technical Support],"[Admin, Maintenance, Security, Datawarehousing]",[Mumbai],"[IT Software - Application Programming , Main...","[IT-Software, Software Services]",Technical Support Engineer
6,Sales- Fresher-for Leading Property Consultant,"2,00,000 - 3,00,000 PA.",0 - 0 yrs,"[ channel partners, real estate, negotiation...",[Retail Sales],[Bengaluru],"[Sales , Retail , Business Development]","[Real Estate, Property]",Sales Executive/Officer

In [40]:
df.drop('Job Experience Required', axis=1, inplace=True)

In [41]:
df.reset_index(drop=True, inplace=True)
df.to_csv('FilteredData.csv')

In [42]:
df.head(5)

,Job Title,Job Salary,Key Skills,Role Category,Location,Functional Area,Industry,Role
0,Trainee Research/ Research Executive- Hi- Tec...,Not Disclosed by Recruiter,"[ Computer science, Fabrication, Quality che...",[R&D],[Gurgaon],"[Engineering Design , R&D]","[Recruitment, Staffing]",R&D Executive
1,Technical Support,"2,00,000 - 4,00,000 PA.",[ Technical Support],"[Admin, Maintenance, Security, Datawarehousing]",[Mumbai],"[IT Software - Application Programming , Main...","[IT-Software, Software Services]",Technical Support Engineer
2,Sales- Fresher-for Leading Property Consultant,"2,00,000 - 3,00,000 PA.","[ channel partners, real estate, negotiation...",[Retail Sales],[Bengaluru],"[Sales , Retail , Business Development]","[Real Estate, Property]",Sales Executive/Officer
3,Looking For Trained Freshers in MS Dynamics C...,Not Disclosed by Recruiter,"[ C#, MS Dynamics CRM, Microsoft Dynamics, ...",[Programming & Design],[Hyderabad],"[IT Software - Application Programming , Main...","[IT-Software, Software Services]",Software Developer
4,Business Development / Corporate Sales,"2,50,000 - 4,50,000 PA.","[ lead generation, business development, cor...",[Retail Sales],[Delhi NCR],"[Sales , Retail , Business Development]","[IT-Software, Software Services]",Sales/Business Development Manager

In [43]:
cities = []
for i in range (len(df)):
    for j in range (len(df.iloc[i]['Location'])):
        cities.append(df.iloc[i]['Location'][j])
cities.sort()
cities = list( dict.fromkeys(cities) )

In [44]:
len(cities)

463

In [124]:
cities

['',
 ' Ahmedabad',
 ' Asarwa',
 ' Bengaluru',
 ' Bommanahalli',
 ' Chakan',
 ' Chandigarh',
 ' Chandkheda) ',
 ' Chennai',
 ' Chinchwad',
 ' Dashrath Puri',
 ' Deccan Gymkhana',
 ' Delhi',
 ' Delhi NCR',
 ' Ghatkopar West',
 ' Gurgaon',
 ' Guwahati',
 ' HSR Layout) ',
 ' Hadapsar) ',
 ' Hebbal) ',
 ' Hyderabad',
 ' Janakpuri',
 ' Karve Road',
 ' Katraj) ',
 ' Kirti Nagar Industrial Area',
 ' Kolkata',
 ' Kothrud',
 ' Kothrud) ',
 ' Lake Town',
 ' Laxmi Road) ',
 ' Lower Parel) ',
 ' Mahavir Enclave) ',
 ' Makarpura) ',
 ' Maninagar',
 ' Mohali',
 ' Mulund',
 ' Mumbai',
 ' Mumbra',
 ' Narol',
 ' Navi Mumbai',
 ' New Moti Nagar) ',
 ' Noida',
 ' North Hadapsar',
 ' PUNE',
 ' Panchkula',
 ' Park Street) ',
 ' Patparganj Industrial Area) ',
 ' Pune',
 ' Rancharda) ',
 ' Safdarjung Enclave) ',
 ' Salt Lake',
 ' Sector No-7 Bhosari',
 ' Sector-24 Gurgaon',
 ' Shiva Nagar',
 ' Shivaji Marg',
 ' Shivaji Nagar',
 ' Shyamal',
 ' Sinthee',
 ' Talegaon) ',
 ' Tata Silk Farm) ',
 ' Thane',
 ' Tilak Nagar',
 ' Udyog Vihar) ',
 ' Vijayanagar) ',
 ' Vikhroli) ',
 ' Yerwada) ',
 '...More',
 'Adilabad',
 'Agartala',
 'Agra',
 'Ahmedabad',
 'Ahmedabad (Bapunagar',
 'Ahmedabad (Bodakdev) ',
 'Ahmedabad (Drive in Road) ',
 'Ahmedabad (Kasindra) ',
 'Ahmedabad (Makarba) ',
 'Ahmedabad (Navrangpura) ',
 'Ahmedabad (Prahlad Nagar) ',
 'Ahmedabad (Shilaj',
 'Ahmedabad (Shyamal Cross Road',
 'Ahmedabad (Vastrapur) ',
 'Ahmednagar',
 'Ajmer',
 'Akola',
 'Aligarh',
 'Allahabad',
 'Ambala',
 'Amritsar',
 'Anand',
 'Anantapur',
 'Andhrapradesh Other',
 'Ankleshwar',
 'Asansol',
 'Aurangabad',
 'Bahraich',
 'Bangalore',
 'Bangalore East',
 'Banswara',
 'Banur',
 'Bareilly',
 'Bathinda',
 'Bawal',
 'Belgaum',
 'Bellary',
 'Bengaluru',
 'Bengaluru (1) ',
 'Bengaluru (12) ',
 'Bengaluru (4th Block Jayanagar) ',
 'Bengaluru (5th block Koramangala) ',
 'Bengaluru (6th block Koramangala) ',
 'Bengaluru (9th Block Jayanagar) ',
 'Bengaluru (BTM Layout) ',
 'Bengaluru (Banashankari Stage III) ',
 'Bengaluru (Bommenahalli) ',
 'Bengaluru (Dasarahalli) ',
 'Bengaluru (Dodda Nekkundi Extension) ',
 'Bengaluru (Dodda Nekkundi) ',
 'Bengaluru (HSR Layout) ',
 'Bengaluru (Hosur Road) ',
 'Bengaluru (Indira Nagar) ',
 'Bengaluru (Jakkur',
 'Bengaluru (Kengeri) ',
 'Bengaluru (Konanakunte) ',
 'Bengaluru (Kudlu) ',
 'Bengaluru (Malleshwaram) ',
 'Bengaluru (Marathahalli) ',
 'Bengaluru (Panathur) ',
 'Bengaluru (Sector 1 HSR Layout',
 'Bengaluru (Sector 1 HSR Layout) ',
 'Bengaluru (Sector 6 HSR Layout) ',
 'Bengaluru (Vijay Nagar',
 'Bengaluru (Whitefield) ',
 'Bengaluru (Wilson Garden) ',
 'Bengaluru / Bangalore',
 'Bharuch',
 'Bhilai/Bhillai',
 'Bhiwadi',
 'Bhiwani',
 'Bhopal',
 'Bhubaneshwar',
 'Bijnor',
 'Bikaner',
 'Bokaro',
 'Burdwan',
 'Chandigarh',
 'Chennai',
 'Chennai Cuddalore',
 'Chennai Kannur',
 'Chennai Pondichery',
 'Chennai Salem',
 'Chennai Thiruvallur',
 'Chennai Tirchy',
 'Chennai Vellore',
 'Chennai Villupuram',
 'Churu',
 'Coimbatore',
 'Coimbatore Madurai',
 'Coimbatore Tirchy',
 'Coimbatore Trichy',
 'Cuddalore',
 'Cuttack',
 'Daman & Diu',
 'Davangere',
 'Dehradun',
 'Delhi',
 'Delhi (1) ',
 'Delhi (37) ',
 'Delhi (Netaji Subhash Place) ',
 'Delhi (New Moti Nagar) ',
 'Delhi (Okhla',
 'Delhi (Okhla) ',
 'Delhi (Palam',
 'Delhi (Vikas Puri) ',
 'Delhi (Yusuf Sarai) ',
 'Delhi NCR',
 'Delhi NCR (192) ',
 'Delhi NCR (197) ',
 'Delhi NCR (198) ',
 'Delhi NCR (199) ',
 'Delhi NCR (Ajmeri gate) ',
 'Delhi NCR (Connaught Place) ',
 'Delhi NCR (Dhaula Kuan) ',
 'Delhi NCR (Dilshad Colony) ',
 'Delhi NCR (Jhandewalan) ',
 'Delhi NCR (Kalkaji) ',
 'Delhi NCR (Karampura',
 'Delhi NCR (Moti Nagar',
 'Delhi NCR (Moti Nagar) ',
 'Delhi NCR (Okhla) ',
 'Delhi NCR (Rohini',
 'Delhi NCR (Safdarjung Enclave) ',
 'Delhi NCR (Sector-142 Noida) ',
 'Delhi NCR (Sector-18 Noida) ',
 'Delhi NCR (Sector-2 Noida) ',
 'Delhi NCR (Sector-24 Gurgaon) ',
 'Delhi NCR (Sector-63 Gurgaon) ',
 'Delhi NCR (Sector-63 Noida) ',
 'Delhi NCR (Shaheen Bagh) ',
 'Delhi NCR (Shastri Nagar) ',
 'Delhi NCR (Sohna Road) ',
 'Delhi NCR (South Extension) ',
 'Delhi NCR (Vaishali) ',
 'Dharuhera',
 'Dibrugarh',
 'Dindukul Salem',
 'Dubai/ UAE',
 'Durgapur',
 'Erode',
 'Erode Madurai',
 'Faizabad',
 'Faridabad',
 'Faridabad (Ajronda Chowk) ',
 'Gandhidham',
 'Gandhinagar',
 'Gaya',
 'Ghaziabad',
 'Ghaziabad (Vaishali) ',
 'Gorakhpur',
 'Greater Noida',
 'Gujarat',
 'Gujarat Other',
 'Gulbarga',
 'Guntur',
 'Gurdaspur',
 'Gurgaon',
 'Gurgaon (1) ',
 'Gurgaon (2) ',
 'Gurgaon (Civil Lines) ',
 'Gurgaon (Cyber City) ',
 'Gurgaon (Maruti Vihar) ',
 'Gurgaon (Palam Vihar) ',
 'Gurgaon (Sohna Road) ',
 'Gurgaon (Udyog Vihar) ',
 'Guwahati',
 'Haldwani',
 'Hisar',
 'Hong Kong',
 'Hosur',
 'Hubli',
 'Hyderabad',
 'Hyderabad (1) ',
 'Hyderabad (Bahadurpally) ',
 'Hyderabad (Banjara hills) ',
 'Hyderabad (Begumpet) ',
 'Hyderabad (Film Nagar) ',
 'Hyderabad (Gachibowli) ',
 'Hyderabad (Jubilee Hills) ',
 'Hyderabad (Kondapur) ',
 'Hyderabad (LB Nagar) ',
 'Hyderabad (Madhapur) ',
 'Hyderabad (Nanakramguda) ',
 'Hyderabad (Punjagutta) ',
 'Hyderabad/Secunderabad',
 'Imphal',
 'Indore',
 'Itanagar',
 'Jabalpur',
 'Jaipur',
 'Jalandhar',
 'Jalgaon',
 'Jalor',
 'Jammu',
 'Jamshedpur',
 'Jind',
 'Jodhpur',
 'Kalpakkam',
 'Kancheepuram Vellore',
 'Kanchipuram',
 'Kannur',
 'Kanpur',
 'Karimnagar',
 'Karnal',
 'Karur',
 'Karur Salem',
 'Katni',
 'Kerala',
 'Kochi',
 'Kolar',
 'Kolha',
 'Kolhapur',
 'Kolkata',
 'Kolkata (Dalhousie) ',
 'Kolkata (New Town',
 'Kolkata (Rajarhat) ',
 'Kolkata (Salt Lake) ',
 'Kormangal',
 'Kota',
 'Kottayam',
 'Kozhikode',
 'Kumbakonam Salem',
 'Kurnool',
 'Kurukshetra',
 'Lakshadweep',
 'Lonavala',
 'Lucknow',
 'Ludhiana',
 'Madurai',
 'Madurai Erode',
 'Madurai Trichy',
 'Malaysia',
 'Manesar',
 'Mangalore',
 'Mathura',
 'Meerut',
 'Moga',
 'Mohali',
 'Moradabad',
 'Mulund Mumbai',
 'Mumbai',
 'Mumbai (Airoli) ',
 'Mumbai (Chakala) ',
 'Mumbai (Charni Road) ',
 'Mumbai (DN Nagar) ',
 'Mumbai (Diva Gaon',
 'Mumbai (Film City Road) ',
 'Mumbai (Lokhandwala) ',
 'Mumbai (Marol) ',
 'Mumbai (Mulund) ',
 'Mumbai (Mumbai Central) ',
 'Mumbai (Parel',
 'Mumbai (Powai) ',
 'Mumbai (Rasayani) ',
 'Mumbai (Sector 1 Ghansoli) ',
 'Mumbai (Shahapur) ',
 'Mumbai (Vikhroli) ',
 'Mumbai (Vishveshwar Nagar) ',
 'Mumbai PUNE',
 'Mumbai Suburbs',
 'Muzaffarpur',
 'Mysore',
 'Mysoru / Mysore',
 'Nagercoil',
 'Nagercoil Thuthukudi',
 'Nagpur',
 'Nasik',
 'Navi Mumbai',
 'Nearby Hometown',
 'Nellore',
 'Nizamabad',
 'Noida',
 'Noida (1) ',
 'Noida (Sector-10 Noida) ',
 'Noida (Sector-125 Noida) ',
 'Noida (Sector-126 Noida) ',
 'Noida (Sector-127 Noida) ',
 'Noida (Sector-132 Noida) ',
 'Noida (Sector-2 Noida) ',
 'Noida (Sector-27 Noida) ',
 'Noida (Sector-3 Noida) ',
 'Noida (Sector-57 Noida) ',
 'Noida (Sector-59 Noida) ',
 'Noida (Sector-60 Noida) ',
 'Noida (Sector-62 Noida) ',
 'Noida (Sector-63 Noida) ',
 'Noida (Sector-64 Noida) ',
 'Noida/Greater Noida',
 'Ooty',
 'Orai',
 'PAN India',
 'Palakkad',
 'Palanpur',
 'Palwal',
 'Panchkula',
 'Panipat',
 'Panjim',
 'Patiala',
 'Patna',
 'Pondicherry',
 'Port Blair',
 'Pune',
 'Pune (1) ',
 'Pune (6) ',
 'Pune (7) ',
 'Pune (Baner) ',
 'Pune (Budhwar Peth',
 'Pune (Camp',
 'Pune (Chakan) ',
 'Pune (Dhayari) ',
 'Pune (Dhole Patil Road) ',
 'Pune (Hadapsar Gaon',
 'Pune (Kalyani Nagar) ',
 'Pune (Mukund Nagar) ',
 'Pune (Pimpri) ',
 'Pune (Pune Nashik Highway) ',
 'Pune (Ranjangaon',
 'Pune (Sector No-7 Bhosari) ',
 'Pune (Senapati Bapat Road) ',
 'Pune (Shivaji Nagar',
 'Pune (Shivaji Nagar) ',
 'Pune (Viman Nagar',
 'Pune (Viman Nagar) ',
 'Pune (Wagholi) ',
 'Qatar',
 'Raigad',
 'Raigarh',
 'Raipur',
 'Rajahmundry',
 'Rajkot',
 'Rakhial',
 'Ranchi',
 'Rewari',
 'Rohtak',
 'Roorkee',
 'Saharanpur',
 'Salem',
 'Salem Bangalore',
 'Salem Erode',
 'Salem Nagercoil',
 'Salem Trichy',
 'Satara',
 'Shimla',
 'Solapur',
 'Sonepat',
 'Srinagar',
 'Surat',
 'Surendranagar',
 'Thane',
 'Thanjavur',
 'Thrissur',
 'Tirunelveli',
 'Tirupati',
 'Tirupur',
 'Trichy',
 'Trivandrum',
 'Tumkur',
 'Tuticorin',
 'Udaipur',
 'Ujjain',
 'Vadodara',
 'Vapi',
 'Varanasi',
 'Vasai',
 'Vasco Da Gama',
 'Vellore',
 'Vellore Madurai',
 'Vellore Salem',
 'Vellore Trichy',
 'Vijayawada',
 'Visakhapatnam',
 'Warangal',
 'Yamunanagar',
 'anuppur',
 'balasore',
 'bangalore',
 'banglore',
 'bina',
 'chhindwara',
 'chittoor',
 'delhi',
 'deoghar',
 'goa',
 'gujarat',
 'guna',
 'hardoi',
 'haryana',
 'lalitpur',
 'mandsaur',
 'murshidabad',
 'other - other',
 'other city',
 'palej',
 'ropar',
 'sagar']

In [113]:
jobsInCity = []
city = "Noida"
for i in range (len(df)):
    if city in df.iloc[i]['Location']:
        jobsInCity.append(df.iloc[i]) 
#jobsInCity is a list of all the jobs in the city

In [121]:
rolesInCity = {}
for i in range (len(jobsInCity)):
    if (jobsInCity[i]['Role'] in rolesInCity):
        rolesInCity[jobsInCity[i]['Role']] += 1
    else:
        rolesInCity[jobsInCity[i]['Role']] = 1
#rolesInCity is a list of all the roles in the chosen city

In [122]:
role = "Software Developer"
jobs = []
for i in range (len(jobsInCity)):
    if role in jobsInCity[i]['Role']:
        jobs.append(jobsInCity[i])
# jobs is all the jobs of the chosen role in the chosen city

In [123]:
len(jobs)

22