In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('Data.csv')
df.drop('Crawl Timestamp', axis=1, inplace=True)
df.drop('Job Salary', axis=1, inplace=True)
df.drop('Uniq Id', axis=1, inplace=True) 

df.dropna(how='any',inplace=True)

In [3]:
for i in range(len(df)):
    if (type(df.iloc[i]['Key Skills']) is str):
        df.iloc[i]['Key Skills'] = df.iloc[i]['Key Skills'].split('|')
    if (type(df.iloc[i]['Location']) is str):
        df.iloc[i]['Location'] = df.iloc[i]['Location'].split(',')
    if (type(df.iloc[i]['Functional Area']) is str):
        df.iloc[i]['Functional Area'] = df.iloc[i]['Functional Area'].split(',')
    if (type(df.iloc[i]['Industry']) is str):
        df.iloc[i]['Industry'] = df.iloc[i]['Industry'].split(',')
    if (type(df.iloc[i]['Role Category']) is str):
        df.iloc[i]['Role Category'] = df.iloc[i]['Role Category'].split('/') 
    if (type(df.iloc[i]['Role']) is str and len(df.iloc[i]['Role']) > 100) :
        df.iloc[i]['Role'] = 'N/A'
    if not ("0 -" in df.iloc[i]['Job Experience Required'] and "10 -" not in df.iloc[i]['Job Experience Required'] and "20 -" not in df.iloc[i]['Job Experience Required']):
        df.iloc[i]['Job Experience Required'] = np.nan
df.dropna(how='any',inplace=True)
df.head(3)

,Job Title,Job Experience Required,Key Skills,Role Category,Location,Functional Area,Industry,Role
2,Trainee Research/ Research Executive- Hi- Tec...,0 - 1 yrs,"[ Computer science, Fabrication, Quality che...",[R&D],[Gurgaon],"[Engineering Design , R&D]","[Recruitment, Staffing]",R&D Executive
3,Technical Support,0 - 5 yrs,[ Technical Support],"[Admin, Maintenance, Security, Datawarehousing]",[Mumbai],"[IT Software - Application Programming , Main...","[IT-Software, Software Services]",Technical Support Engineer
6,Sales- Fresher-for Leading Property Consultant,0 - 0 yrs,"[ channel partners, real estate, negotiation...",[Retail Sales],[Bengaluru],"[Sales , Retail , Business Development]","[Real Estate, Property]",Sales Executive/Officer

In [4]:
df.drop('Job Experience Required', axis=1, inplace=True)

In [5]:
df.reset_index(drop=True, inplace=True)
df.to_csv('FilteredData.csv')

In [6]:
df.head(5)

,Job Title,Key Skills,Role Category,Location,Functional Area,Industry,Role
0,Trainee Research/ Research Executive- Hi- Tec...,"[ Computer science, Fabrication, Quality che...",[R&D],[Gurgaon],"[Engineering Design , R&D]","[Recruitment, Staffing]",R&D Executive
1,Technical Support,[ Technical Support],"[Admin, Maintenance, Security, Datawarehousing]",[Mumbai],"[IT Software - Application Programming , Main...","[IT-Software, Software Services]",Technical Support Engineer
2,Sales- Fresher-for Leading Property Consultant,"[ channel partners, real estate, negotiation...",[Retail Sales],[Bengaluru],"[Sales , Retail , Business Development]","[Real Estate, Property]",Sales Executive/Officer
3,Looking For Trained Freshers in MS Dynamics C...,"[ C#, MS Dynamics CRM, Microsoft Dynamics, ...",[Programming & Design],[Hyderabad],"[IT Software - Application Programming , Main...","[IT-Software, Software Services]",Software Developer
4,Business Development / Corporate Sales,"[ lead generation, business development, cor...",[Retail Sales],[Delhi NCR],"[Sales , Retail , Business Development]","[IT-Software, Software Services]",Sales/Business Development Manager